html, body {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Fjalla One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    color: white;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#map-ui {
  text-align: center;
  width:200px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  margin: 10px; 
  border: 2px solid gray; /*border-right: 2px solid red;*/
  /* border-radius: 10px; */
  background: rgba(0,0,0,0.3);
  font-family: 'Fjalla One', sans-serif;
  z-index: 1;
}

.leaflet-bar {
  color: white;
/*border-bottom-width: 0px; /*Part of the Custom Zoom Controller - This makes sure the spacing between the '-' Zoom Out Symbol
and the globe is correctly spaced. */
}

.propsformat {
  font-size: 20px;
  line-height: 25px;
  color: gray;
  margin: 5px;
  display: inline;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #666666;
}

.info.leaflet-control {
    background: rgba(0,0,0,0.4);
    font-family:'Fjalla One', sans-serif;
    color: white;
    border: 2px solid gray;
    height:200px;
    width: 400px;
    padding: 5px;
    margin: 10px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
}

.leaflet-container a {
  color:black;
}

.leaflet-container a:hover {
  color:gray;
}

.leaflet-top-pane {
      pointer-events: none;
    }


.legend label, .legend span {
    display: block;
    float: left;
    height: 15px;
    width: 33%;
    text-align: center;
    font-size: 10px;
    color: white;
}

.my-legend {
    display: block;
    float: right;
    height: 15px;
    width: 33%;
    text-align: center;
    font-size: 10px;
    color: white;
}
.map-legends.wax-legends {
    background: rgba(30, 30, 30, 0);
}

/*Part of CREATE STATIC LEGEND functionality*/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/*End of Part of CREATE STATIC LEGEND functionality*/

#ra-container {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
#ra-panel-l,
#ra-panel-r {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
#ra-headmatter {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
#ra-responsivemenu {
  background: #007a4d;
  color: #fff;
}
#ra-responsivemenu-btn-l {
  border-right: rgba(0,0,0,0.3) 1px solid;
}
#ra-responsivemenu-header {
  float: right;
}
.header {
  padding: 0 0.5em;
}
.logo-right {
  float: right;
  margin-top: -3px;
  vertical-align: middle;
}
.nav {
  background: #007a4d;
  color: #fff;
  font-weight: bold;
}

/*.btn:hover { 
    background-color: yellow;
}*/

.nav .btn-active {
  background: #00a165;
}
.nav .nav-left {
  float: left;
  padding: 0.5em;
}
.nav .nav-right {
  float: right;
  padding: 0.5em;
}
.ra-small .nav .nav-left {
  width: auto;
  float: none;
  margin: 0.25em;
  border-radius: 3px;
}
#fdw-controls,
#fhp-controls {
  padding: 0.5em;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

#container {
  height: 100%;
  width: 100%;
  /*margin: 0 auto;*/
}

#mapid {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    z-index:0;
}

#branding {
  position: relative;
    height: 145px;
    width: 150px;
    left: 0;
    float: left;
    background: url(../img/logo.png) 30px 60px no-repeat;
    }

#content {
  position: relative;
  height: 200px;
  width: 100%;
  bottom: 0px;
    background: rgb(255,255,255); /* old ie */
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #333;
    overflow-y: hidden;
    z-index: 2;
    }
    
#about {
    margin-left: 150px;
    width: 689px;
    float: left;
    padding: 0 20px;
    border-left: 1px solid #bbb;
    }


/* ---------------------------
       UI CSS ELEMENTS 
---------------------------- */

/*
----- GLOBE BUTTON BOX -----
positioning and adjusting the
actual globe's default color */

#GlobeButtonBox {
  z-index: 1;
  float:right;            
  margin-right:11px;
  margin-top:70px;
}

#Globe {
    color: black;
    padding: 1px 2px;  
    border-color: gray;
}

/*
#Globe:hover {
  background-color: gray;
}

.leaflet-control-zoom-in:hover {
  background-color: gray;
}

.leaflet-control-zoom-out:hover {
  background-color: gray;
}*/


/* ---------------------------
       TESTING NEW STUFF 
---------------------------- */

/*
----- TRING TO CREATE BETTER INTERACTIVE BUTTONS -----
*/

.testing {
  position: relative;
  z-index: 3;
}


