html, body {
    margin: 0px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Fjalla One', sans-serif;
}
#mapid {
    position: absolute;
    width: 100%;
    height: 100%
}

.leaflet-top-pane {
      pointer-events: none;
    }

#map-ui {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 12%;
  padding: 10px;
  /* margin: 10px; */
  /* border: 3px solid white; */
  /* border-radius: 10px; */
  text-align: center;
  z-index: 100;
  background: rgba(255,255,255,0.3);
      font-family: 'Fjalla One', sans-serif;
}

.legend label, .legend span {
    display: block;
    float: left;
    height: 15px;
    width: 33%;
    text-align: center;
    font-size: 10px;
    color: white;
}

.my-legend {
    display: block;
    float: right;
    height: 15px;
    width: 33%;
    text-align: center;
    font-size: 10px;
    color: white;
}
.map-legends.wax-legends {
    background: rgba(30, 30, 30, 0);
}

/*Part of INFO ON HOVER functionality*/
.info {
    height:100px;
    width: 200px;
    padding-left: 5px;
    padding-top: 50px;
    margin-bottom: 20px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
} /*End of Part of INFO ON HOVER functionality*/

/*Part of CREATE STATIC LEGEND functionality*/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/*End of Part of CREATE STATIC LEGEND functionality*/